.success-message{
    color: rgb(65, 104, 6);
}
.error-message{
    color: brown;
}

.stagiaire, .module{
    display: flex;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-around;
}

.sessionPrevu{
    list-style-type: disc;
}