{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}

    {% for stagiaire in stagiaires %}
        <h2>FICHE STAGIAIRE</h2>
        {{ stagiaire }} <br>
        
    {% endfor %}
{% endblock %}
