h2{
    font-size: 3rem;
    color: white;
}
h2 i{
    margin-right: 2rem;
}

.container {
    background-color: #333333;
}

.containerDetails{
    color: #ff9900;
    font-size: 1.4rem;
}

.detailSession{
    color: #ff9900;
    font-size: 1.2rem;
}

.detailSession li{
    padding: 5px;
}

.updateButton a i{
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
    margin-top:2rem;
    text-transform: lowercase;
}

.updateButton a i:hover{
    color: #ff9900;
}

.succes-update{
    color: white;
    background-color: #12ad12;
    font-size: 1.5rem;
    border-radius: 5px;
    text-align: center;
}