h2{
    font-size: 3rem;
    color: white;
}
h2 i{
    margin-right: 2rem;
}

.container {
    background-color: #333333;
}

.containerDetails{
    color: #ff9900;
    font-size: 1.4rem;
    margin-left: 2rem;
}

.detailSession{
    color: #ff9900;
    font-size: 1.2rem;
}

.detailSession li{
    padding: 5px;
}

.updateButton a i{
    text-decoration: none;
    color:white;
    background-color: #007bff;
    border-radius: 5px;
    padding: .6rem;
    font-size: 1rem;
    margin-top:1rem;
    text-transform: lowercase;
}

.updateButton a i:hover{
    color: #007bff;
    background-color: white;
}

.succes-update{
    color: white;
    background-color: #12ad12;
    font-size: 1.5rem;
    border-radius: 5px;
    text-align: center;
}