{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle session{% endblock %}

{% block stylesheets %}
{{ parent()}}
    
{% endblock %}

{% block body %}

    <h1>Ajouter une nouvelle session</h1>
        {{ form_start(formAddSession) }}
        {{ form_widget(formAddSession) }}
        {{ form_end(formAddSession) }}


{% endblock %}
