{% extends 'base.html.twig' %}

{% block title %}Liste des Sessions{% endblock %}

{% block body %}
    <h1>Liste des Sessions</h1>

    {% for session in sessions %}
        <li>{{  session }}</li>
        
    {% endfor %}
{% endblock %}
