{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block body %}

<div class="module"> 
    {% for message in app.flashes('succes-createModule') %}
    <div class="succes-createModule">
        {{ message }}
    </div>
    {% endfor %}   
    <h1>Liste des modules</h1> <a href="{{ path('create_module') }}">Creer un nouveau module</a>
</div>


    <ul>
        {% for module in modules %}
            <li>{{ module.intitulee }} - {{ module.detailsProgramme }}</li>
        {% endfor %}
    </ul>
{% endblock %}
