h2 {
    color: #333333;
    text-align: center;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.createLink{
    text-decoration: none;
    color: white;
    padding: .6rem;
    border-radius: 5px;
    background-color: #007bff;
}
.createLink:hover {
    color: #007bff;
    background-color: white;
    border: 1px solid #007bff;
}

.containerStagiaire {
    background-color: #333333;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    font-size: 1.3rem;
}

.containerStagiaire .stagiaire {
    text-decoration: none;
    color: #ff9900;
    font-weight: bold;
}
.containerStagiaire .stagiaire:hover {
    text-decoration: none;
    color: white;
}

.containerStagiaire .delete {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}
.containerStagiaire .delete:hover{
    color: rgb(212, 44, 44);
}

.success-message{
    background-color: rgb(13 117 13);
    color: white;
    font-size: 1.3rem;
    text-align: center;
}

.success-remove-stagiaire{
    color: white;
    background-color: rgb(13 117 13);
    font-size: 1.3rem;
    border-radius: 5px;
    text-align: center;
}
